@{
    ViewBag.Title = "Home Page";
}

<div id="header" class="row">
    <img src="~/caroeta de imagenes/images/logo.jpg" class="ml-auto mr-auto" />
</div>

<div id="nav" class="row">
    <nav class="navbar navbar-expand-lg navbar-light mr-auto ml-auto mt-3">      
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="content">
    <div class="row mb-5">
        <img src="~/caroeta de imagenes/images/the-beacon.jpg" height="500px;" width="1140px;" />
        <button style="position:relative; bottom:300px; left:610px; background-color:mediumaquamarine;" class="btn">Read More</button>

        <div class="bg-white p-2" style="position:relative; bottom:495px; left:500px;">THE BEACON TO ALL MANKIND</div>
        <div class="bg-dark text-white p-2" style="position:relative; bottom:445px; left:260px;">our website template are created with</div>
        <div class="bg-dark text-white p-2" style="position:relative; bottom:395px; left:-20px;">Impression checked for quality and originally</div>
    </div>
    <div class="row ">
        <div class="col-4 p-0">
            <img src="~/caroeta de imagenes/images/the-father.jpg" class="" />
            <p class="text-center text-father" style="position:relative; right:40px;"><b>The Father</b></p>


        </div>
        <div class="col-4">
            <img src="~/caroeta de imagenes/images/the-actor.jpg" class="ml-4" />
            <p class="text-center"><b>The Actor</b></p>
        </div>

        <div class="col-4 p-0">
            <img src="~/caroeta de imagenes/images/the-nerd.jpg" class="float-right" />
        </div>
    </div>
   


</div>